# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.ilk
*.metagen
*.obj
*.exe
*.dll
*.lib
*.winmd
*.appx
*.appxbundle
*.pri
*.scc
*.vshost.exe
*.vshost.exe.config
*.vshost.exe.manifest
*.testsettings
*.trx
*.vspscc
*.vssscc
*.buildscc
*.code-workspace

# NuGet packages
packages/
*.nupkg
.nuget/packages/

# Project-specific files
*.log
*.bak
*.tmp
*.cache
*.resharper
*.dotSettings
*.pidb
*.booproj
*.webinfo
*.pubxml
*.userprefs
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Rider IDE files
.idea/

# DotNet tools
.config/dotnet-tools.json

# Azure App Service files
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json
launchSettings.json